.link {
  color: #b3b3b3;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #b3b3b3;
}

::placeholder {
  color: #b3b3b3;
}

.error {
  position: relative;
  top: 250px;
  font-size: 2em;
}

/****** HOMEPAGE ********/

.buttonLink {
  left: 32%;
  line-height: 35px;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.buttonLink1 {
  left: 41%;
  line-height: 35px;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.buttonLink2 {
  left: 50%;
  line-height: 35px;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.buttonLink3 {
  left: 59%;
  line-height: 35px;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.image {
  top: 0%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  filter: brightness(70%);
  z-index: -1;
}

#homeTitle {
  top: 35%;
  left: 3%;
  font-size: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.login {
  left: 80%;
  line-height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 65px;
  width: 140px;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/****** TOPICS ********/

.topics-title {
  top: 50px;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.form {
  left: -100px;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: inline-block;
  top: 100px;
  font-size: 1.2em;
  filter: brightness(90%);
}

.topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  position: relative;
  top: 120px;
  color: #b3b3b3;
}

.topic-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 70px;
  position: relative;
  top: 120px;
}

.desc-form {
  position: relative;
  width: 300px;
  top: 45px;
  left: -295px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

.addTopic {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  left: -608px;
  top: 100px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.topic-form {
  position: absolute;
  display: flex;
  left: -295px;
  width: 150px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

/******** USERS ************/

.usersName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  position: relative;
  top: 230px;
  color: #b3b3b3;
}

.usersUsername {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 40px;
  position: relative;
  top: 230px;
}

.form3 {
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  width: 1000px;
  top: 100px;
  left: -180px;
  font-size: 1.2em;
  filter: brightness(90%);
}

.users {
  align-content: center;
  justify-content: center;
  position: relative;
  top: 115px;
  font-size: 1.1em;
  color: #b3b3b3;
}

.username-form {
  position: relative;
  flex-wrap: wrap;
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

.name-form {
  position: relative;
  flex-wrap: wrap;
  width: 200px;
  height: 20px;
  padding: 5px;
  top: 45px;
  left: -214px;
  font-size: 0.8em;
}

.avatar-form {
  position: relative;
  flex-wrap: wrap;
  width: 300px;
  top: 91px;
  left: -428px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

.addUser {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 140px;
  height: 33px;
  left: -742px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.users-title {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  font-size: 2em;
  top: 45px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.user-title {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 170px;
  font-size: 2em;
  margin-top: -0px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.avatarImg {
  font-size: 1.1em;
  margin-bottom: 40px;
  position: relative;
  top: 210px;
  height: 250px;
  width: auto;
  filter: brightness(75%);
}

/******** ARTICLES ***********/

.title-form {
  position: relative;
  display: flex;
  width: 150px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

.article-topic {
  position: relative;
  display: flex;
  top: 12px;
  width: 150px;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
}

.text-form {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  display: inline-flex;
  padding: 5px;
  font-size: 0.8em;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  left: -164px;
  top: 182px;
  font-size: 1em;
  filter: brightness(90%);
  left: -464px;
}

.article-form {
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: inline-block;
  top: 100px;
  font-size: 1.2em;
  filter: brightness(90%);
  left: -300px;
}

.addArticle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  top: 124px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.topic-filter {
  line-height: 24px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 461px;
  top: 370px;
  width: 200px;
  font-size: 1em;
  filter: brightness(90%);
}

.dropdown {
  position: relative;
  display: flex;
  top: 150px;
  width: 203px;
  height: 30px;
  left: 460px;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.asc {
  z-index: 1;
  margin: auto;
  margin-top: 65px;
  font-size: 1em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 55px;
  width: 2%;
  height: 30px;
  left: 603px;
}

.desc {
  top: -40px;
  width: 2%;
  height: 30px;
  left: 650px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99vw;
  box-sizing: content-box;
  height: 100vh;
  position: relative;
  top: -100px;
}

.article-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: content-box;
  position: relative;
  top: -100px;
  width: 200px;
  left: 44vw;
  opacity: 1;
  font-size: 2em;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.article-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25em;
  height: 350px;
  border: 2px solid black;
}

.articleTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.articleBy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleTopic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleDate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleVotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleComments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.article-title1 {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-top: -0px;
  top: 150px;
  font-size: 2em;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.articleInfo {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 160px;
  width: 100%;
}

.articleText {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 190px;
  width: 85%;
  margin-left: 100px;
  margin-right: 100px;
}

.voter {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 150px;
  width: 100%;
}

.deleteArticle {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30px;
  top: 190px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

/********** COMMENTS *********/

.commentBody {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 230px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  border: black 2px solid;
  height: 280px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.upvote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  left: -30px;
  top: -4px;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.downvote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  left: 30px;
  top: -4px;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.commentDetails {
  align-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  top: -25px;
}

.commentText {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 230px;
  width: 60%;
  filter: brightness(90%);
  font-family: 'Ubuntu', sans-serif;
  padding: 5px;
  font-size: 0.8em;
  line-height: 35px;
}

.addComment {
  align-items: center;
  justify-content: center;
  position: relative;
  height: 33px;
  top: 250px;
  /* left: -497px; */
  font-size: 1.1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.commentBody1 {
  align-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  top: -60px;
}

.commentVotes {
  align-content: center;
  align-items: center;
  position: relative;
  top: -220px;
}

.deleteComment {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30px;
  top: -40px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

/****** MEDIA QUERIES ***********/

@media only screen and (max-width: 1350px) {
  .dropdown {
    left: 350px;
  }
  .asc {
    left: 480px;
  }
  .desc {
    left: 520px;
  }
  .topic-filter {
    left: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  .form2 {
    display: block;
  }
  .form {
    left: 0px;
  }
  .article-form {
    left: -210px;
  }
  .text-form {
    left: -375px;
  }
  .form3 {
    left: -80px;
  }
}

@media only screen and (max-width: 1050px) {
  .form {
    left: -10px;
    width: 300px;
  }
  .article-form {
    position: relative;
    left: 110px;
  }
  .text-form {
    position: relative;
    left: -55px;
  }
  .form3 {
    left: 30px;
    width: 500px;
  }
  .avatar-form {
    top: 55px;
    left: -11px;
  }
  .addUser {
    left: -325px;
    top: 100px;
  }
  .users-title {
    top: 220px;
  }
  .users {
    top: 240px;
  }
  .desc-form {
    margin-top: 0px;
    font-size: 1rem;
    display: flex;
    top: 50px;
    left: -20px;
  }
  .topic-form {
    margin-top: 0px;
    font-size: 1rem;
    display: flex;
    top: 16px;
    left: -20px;
  }
  .addTopic {
    margin-top: 0px;
    font-size: 1rem;
    display: flex;
    top: 50px;
    left: -20px;
  }
  .topics-title {
    top: 180px;
  }
  .topic,
  .topic-items {
    top: 200px;
  }
  .article-list,
  .article-title {
    top: -50px;
  }
  .article-title {
    left: 140px;
  }
  .dropdown {
    left: 140px;
    top: 220px;
  }
  .asc {
    left: 270px;
    top: 125px;
  }
  .desc {
    left: 300px;
    top: 30px;
  }
  .topic-filter {
    left: 140px;
    top: 440px;
  }
}

@media only screen and (max-width: 900px) {
  .commentBody {
    height: 350px;
  }
}

@media only screen and (max-width: 865px) {
  #homeTitle {
    font-size: 2.5em;
  }
  .buttonLink,
  .buttonLink1,
  .buttonLink2,
  .buttonLink3,
  .dropdown,
  .asc,
  .desc,
  .login {
    font-size: 0.8em;
  }
  .login {
    width: 15%;
  }
  .articleText {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 685px) {
  .asc {
    font-size: 0.68em;
  }
  .desc {
    font-size: 0.68em;
  }
}

@media only screen and (max-width: 632px) {
  .article-title {
    top: -380px;
    left: 50px;
  }
  .dropdown {
    left: -102px;
  }
  .asc {
    left: 20px;
    width: 20px;
  }
  .desc {
    left: 50px;
    width: 20px;
  }
  .topic-filter {
    left: -101px;
  }
}

@media only screen and (max-width: 600px) {
  .form3 {
    width: 500px;
  }
}

@media only screen and (max-width: 583px) {
  .text-form {
    width: 200px;
  }
  .dropdown,
  .topic-filter {
    width: 120px;
  }
  .asc {
    left: -20px;
  }
  .desc {
    left: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .articleTitle,
  .articleBy,
  .articleTopic,
  .articleDate,
  .articleVotes,
  .articleComments {
    width: 30vw;
  }
}

@media only screen and (max-width: 555px) {
  .commentBody {
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .buttonLink {
    left: 10%;
    width: 15%;
  }
  .buttonLink1 {
    left: 30%;
    width: 15%;
  }
  .buttonLink2 {
    left: 50%;
    width: 15%;
  }
  .buttonLink3 {
    left: 70%;
    width: 15%;
  }
  .login {
    top: 150px;
    left: 10%;
  }
  .addComment {
    left: 70px;
  }
  .usersName,
  .usersUsername {
    font-size: 0.9em;
  }
  .avatarImg {
    height: 150px;
  }
  .form3 {
    width: 150px;
  }
  .username-form {
    left: -130px;
    width: 150px;
  }
  .name-form {
    left: -130px;
    top: 10px;
    width: 150px;
  }
  .avatar-form {
    top: 20px;
    left: -130px;
    width: 200px;
  }
  .addUser {
    font-size: 0.7em;
    left: -171px;
    top: 30px;
  }
  .users-title {
    top: 130px;
  }
  .users {
    top: 160px;
  }
}

@media only screen and (max-width: 430px) {
  .topic-form,
  .desc-form,
  .addTopic {
    left: 0%;
  }
  .articleTitle,
  .articleBy,
  .articleTopic,
  .articleDate,
  .articleVotes,
  .articleComments {
    width: 30vw;
    align-content: center;
  }
  .article-items {
    width: 20em;
  }
  .addArticle {
    font-size: 0.8em;
  }
  .addComment {
    font-size: 0.8em;
  }
  .deleteComment {
    font-size: 0.8em;
  }
  ::placeholder {
    font-size: 0.9em;
  }
  .commentBody {
    height: 400px;
    font-size: 0.9em;
    margin-left: 60px;
    margin-right: 60px;
  }
  .topic,
  .topic-items {
    font-size: 1em;
  }
  .articleBody {
    font-size: 0.9em;
  }
  .users {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 378px) {
  .article-title {
    top: -530px;
  }
  .article-form {
    left: -10px;
  }
  .text-form {
    left: 13px;
    top: 24px;
  }
  .dropdown {
    top: 70px;
  }
  .asc {
    top: -25px;
  }
  .desc {
    top: -120px;
  }
  .article-list {
    top: -200px;
  }
  .form3 {
    left: 100px;
  }
}

@media only screen and (max-width: 350px) {
  .topic-form,
  .desc-form {
    width: 200px;
    left: 20px;
  }
  .addTopic {
    left: 20px;
  }
  .commentBody {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/********** APP *****************/

.App {
  text-align: center;
  top: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
