.App {
  text-align: center;
  top: 0%;
}

.link {
  color: #b3b3b3;
}

.buttonLink1 {
  left: 37%;
  z-index: 1;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.buttonLink2 {
  left: 46%;
  z-index: 1;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

.buttonLink3 {
  left: 55%;
  z-index: 1;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 8s;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #b3b3b3;
}

::placeholder {
  color: #b3b3b3;
}

#title {
  position: absolute;
  display: flex;
  top: 12%;
  left: 20%;
  font-size: 2.3rem;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.5s;
}

.image {
  top: 0%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  filter: brightness(70%);
  z-index: -1;
}

#homeTitle {
  top: 35%;
  left: 3%;
  font-size: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.login {
  left: 15%;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 45%;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(70%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  left: 30%;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
  font-size: 1.2em;
  filter: brightness(90%);
}

.topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  position: relative;
  top: 250px;
  color: #b3b3b3;
}

.topic-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 40px;
  position: relative;
  top: 250px;
}

.addTopic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  height: 33px;
  left: 0%;
  font-size: 1.1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.topic-form {
  position: absolute;
  top: 0px;
  left: -250px;
  width: 200px;
  height: 20px;
  border: 1px solid #8c8c8c;
  padding: 5px;
  font-size: 0.8em;
}

.desc-form {
  position: absolute;
  width: 300px;
  top: 0px;
  left: -39px;
  height: 20px;
  border: 1px solid #8c8c8c;
  padding: 5px;
  font-size: 0.8em;
}

.addedTopic {
  position: relative;
  display: flex;
  top: -70px;
  left: 390px;
}

.user-form {
  position: absolute;
  top: 10px;
  left: -250px;
  width: 200px;
  height: 20px;
  border: 1px solid #8c8c8c;
  padding: 5px;
  font-size: 0.8em;
}

.name-form {
  position: absolute;
  width: 200px;
  top: 10px;
  left: -39px;
  height: 20px;
  border: 1px solid #8c8c8c;
  padding: 5px;
  font-size: 0.8em;
}

.avatar-form {
  position: absolute;
  width: 350px;
  top: 10px;
  left: 172px;
  height: 20px;
  border: 1px solid #8c8c8c;
  padding: 5px;
  font-size: 0.8em;
}

.addUser {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 9px;
  width: 100%;
  height: 33px;
  left: 455%;
  font-size: 1.1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.addedUser {
  position: relative;
  display: flex;
  top: -30px;
  left: 660px;
}

.topic-filter {
  left: 18%;
  line-height: 24px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14%;
  width: 15%;
  font-size: 1em;
  filter: brightness(90%);
}

.article-form {
  left: 30%;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 22%;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(90%);
}

.addArticle {
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 9.4px;
  width: 130%;
  height: 33px;
  left: 485%;
  font-size: 1.1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.addedArticle {
}

#query-form {
  left: 22%;
  line-height: 35px;
  margin: auto;
  margin-top: 65px;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 18%;
  width: 8%;
  font-size: 1.2em;
  filter: brightness(90%);
}

.dropdown {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 80%;
  height: 30px;
  left: -70%;
  font-size: 0.8em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.asc {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 80%;
  height: 30px;
  left: 10.5%;
  font-size: 0.8em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.desc {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 80%;
  height: 30px;
  left: 91%;
  font-size: 0.8em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 67vw;
  box-sizing: content-box;
  margin: 0 0 0 0;
  height: 100vh;
  position: relative;
  top: 350px;
}

.article-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25em;
  height: 350px;
  border: 2px solid black;
}

.articleTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleBy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}
.articleTopic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleDate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleVotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleComments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15vw;
  box-sizing: content-box;
}

.articleBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.upvote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  left: -90%;
  top: 26%;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.downvote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  left: 105%;
  top: -24%;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.deleteArticle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  height: 30px;
  top: 130%;
  left: -80%;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.commentText {
  left: -18%;
  line-height: 24px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  width: 60%;
  font-size: 1em;
  filter: brightness(90%);
}

.addComment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 33px;
  left: 18%;
  top: -31px;
  font-size: 1.1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.addedComment {
  position: relative;
  display: flex;
  top: -30px;
  left: 690px;
}

.upvoteComment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  left: 44.3%;
  top: 25px;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.downvoteComment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  left: 53.1%;
  top: -23px;
  height: 30px;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.deleteComment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 37%; */
  height: 30px;
  top: -24px;
  left: 45.1%;
  font-size: 1em;
  filter: brightness(90%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 780px) {
  #homeTitle {
    font-size: 2.5em;
  }
  .buttonLink1,
  .buttonLink2,
  .buttonLink3 {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 500px) {
  .buttonLink1 {
    left: 20%;
    width: 15%;
  }
  .buttonLink2 {
    left: 40%;
    width: 15%;
  }
  .buttonLink3 {
    left: 60%;
    width: 15%;
  }
  .login {
    font-size: 0.8em;
    width: 15%;
  }
}
